button {
  max-width: 100px;
  width: 100%;
  height: 40px;
  border-radius: 7px;
  background-color: white;
  border: 2px solid;
  cursor: pointer;
  margin-left: 5px;
}

.products-page-container {
  height: 100vh;
}

@media (min-width: 1600px) {
  .all-products {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
