.footer {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  max-width: 1400px;
  margin: auto;
}

.footer-section-2 {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.footer-links {
  display: flex;
  flex-direction: column;
}

.footer-section-2-links,
.footer-links {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

