.footer {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  max-width: 1400px;
  margin: 150px auto 0 auto;
  padding: 50px 10px 0 10px;
}

.footer-section-2 {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.footer-links {
  display: flex;
  flex-direction: column;
}

.footer-section-2-about,
.footer-section-2-links,
.footer-links {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer-section-3 {
  margin-bottom: 40px;
}

@media (max-width: 600px) {
  .footer-section-2 {
    flex-direction: column;
    gap: 40px;
  }

  .footer {
    align-items: flex-start;
  }
}