.text-center {
  text-align: center;
}

.color-2 {
  color: gray;
}

img {
  max-width: 100%;
  max-height: 100%;
}

hr {
  width: 100%;
  height: 1px;
  background-color: #E9E9E9;
}

.main-text {
  font-size: 20px;
  color: black;
}

.secondary-text {
  color: gray;
}

body * {
  transition: color 0.5s;
}

.light-theme {
  background-color: white !important;
}

.dark-theme,
.dark-theme * {
  background-color: #19181d !important;
  color: rgb(189, 189, 189) !important;
}

.dark-theme .landing-slide-info,
.dark-theme .landing-slide-info * {
  background-color: #222 !important;
}

.dark-theme .container *,
.dark-theme .container {
  background-color: #1a1a1a !important;
}

#oynavand {
  background-color: transparent !important;
}

.dark-theme .about-me,
.dark-theme .about-me * {
  background-color: #222 !important;
}

.dark-theme .me-right-1 svg {
  fill: #fff !important;
}

.dark-theme footer *,
.dark-theme footer {
  background-color: #1a1a1a !important;
}

.dark-theme .me-right-1 {
  border: 2px solid #1a1a1a;
}

.dark-theme .hello-btn {
  border: 2px solid rgb(189, 189, 189) !important;;
}

.wrapper .dark-theme *,
.wrapper .dark-theme  {
  background-color: #222 !important;
}

.dark-theme .container *,
.dark-theme .container {
  background-color: #1a1a1a !important;
}

.form-container {
  padding-bottom: 50px;
}

.dark-theme path {
  stroke: #fff;
}

.dark-theme .info-block {
  border: 2px solid #1a1a1a;
}

@media (max-width: 969px) {
  .dark-theme .about-me {
    height: 100%;
  }

  .me-right {
    align-items: center !important;
  }

  .me-right-block {
    flex-wrap: wrap;
    justify-content: center !important;
    text-align: center;
  }
}