.landing-slide-info {
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
  background-color: #f3f3f3;
  width: 100%;
}

.small-slides {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  gap: 1%;
  margin-bottom: 30px;
  height: auto;
}

.landing-slide-big {
  display: flex;
  width: 100%;
  max-width: 1000px;
  background-color: #f0f0f0;
}

.landing-slide-date {
  color: #8f8f8f;
  font-weight: 300;
  margin-bottom: 15px;
}

.landing-slide-title {
  margin-bottom: 30px;
  font-size: 22px;
  font-weight: bold;
}

.landing-slide-small-variant-1 {
  flex-direction: column;
  max-width: 33%;
}

.small-slides-variant-1 {
  justify-content: space-between;
  flex-wrap: wrap;
}

.landing-page {
  display: flex;
  justify-content: space-evenly;
  /* flex-wrap: wrap; */
  max-width: 100%;
  gap: 10px;
  margin-bottom: 300px;
}

.landing-swiper {
  max-width: 1000px;
}

.landing-slide-big img {
  min-height: 400px;
}

.landing-slide-small img {
  max-height: 150px;
}

.swiper {
  margin: 0 !important;
}

.landing-slide {
  max-width: 1000px;
  width: 100% !important;
}

.left-landing {
  max-width: 1000px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.post-section {
  width: 300px;
  border-top: 1px solid #E9E9E9;
  overflow-y: auto;
  max-height: 1084px;
  padding-left: 5px;
}

.dark-theme .post,
.dark-theme .post * {
  background-color: #222 !important;
}

.post {
  margin: 10px;
  cursor: pointer;
  padding: 10px;
}

.post-info {
  margin-bottom: 10px;
}

.admins-pick {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(32%, 1fr));
  gap: 1%;
}

@media (max-width: 1326px) {
  .landing-slide-small img {
    max-height: 100% !important;
  }
  
  .right-landing {
    display: none;
  }

  .landing-slide-big {
    flex-direction: column;
  }
  
  .landing-slide-big img {
    max-height: 100% !important;
  }

  .admins-pick {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (max-width: 1366px) {
  .landing-page {
    flex-direction: column;
  }

  .landing-swiper,
  .landing-slide
  {
    max-width: 100% !important;
  }

  .landing-slide-big {
    max-width: none !important;
  }

  .left-landing {
    max-width: none;
  }

  .post-section {
    width: 100%;
    max-height: 600px;
  }
}

@media (max-width: 830px) {
  .small-slides {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)) !important;
  }
}