.landing-slide-info {
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
  background-color: #f3f3f3;
  width: 100%;
}

.landing-slide-small {
  display: flex;
  max-width: 500px;
  width: 100%;
  margin-bottom: 30px;
}

.landing-slide-big {
  display: flex;
  width: 100%;
  max-width: 1000px;
  background-color: #f0f0f0;
}

.landing-slide-date {
  color: #8f8f8f;
  font-weight: 300;
  margin-bottom: 15px;
}

.landing-slide-title {
  margin-bottom: 30px;
  font-size: 22px;
  font-weight: bold;
}

.small-slides {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  width: 100%;
}  
.landing-slide-small-variant-1 {
  flex-direction: column;
  max-width: 33%;
}

.small-slides-variant-1 {
  justify-content: space-between;
  flex-wrap: wrap;
}

.landing-page {
  display: flex;
  justify-content: space-evenly;
  /* flex-wrap: wrap; */
  max-width: 100%;
  gap: 10px;
  margin-bottom: 300px;
}

.landing-swiper {
  max-width: 1000px;
}

.landing-slide-big img {
  max-height: 300px;
}

.landing-slide-small img {
  max-height: 150px;
}

.swiper {
  margin: 0 !important;
}

.landing-slide {
  max-width: 1000px;
  width: 100% !important;
}

.left-landing {
  max-width: 1000px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.post-section {
  width: 300px;
  border-top: 1px solid #E9E9E9;
  overflow-y: auto;
  max-height: 1084px;
  padding-left: 5px;
}

.post {
  max-height: 100px;
  margin: 10px;
  cursor: pointer;
}

.post-info {
  margin-bottom: 10px;
}

@media (max-width: 1326px) {
  .landing-slide-small {
    flex-direction: column;
    max-width: none !important;
  }

  .landing-slide-small img {
    max-height: 100% !important;
  }

  .right-landing {
    display: none;
  }

  .small-slides {
    display: grid !important;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr)) !important;
    gap: 5px;
  }

  .landing-slide-small:nth-child(4) {
    display: none;
  }

  .landing-slide-big {
    flex-direction: column;
  }

  .landing-slide-big img {
    max-height: 100% !important;
  }
}

@media (max-width: 1016px) {
  .landing-slide-small:nth-child(4) {
    display: flex;
  }
}

@media (max-width: 350px) {
  .small-slides {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)) !important;
    gap: 0;
  }
}

@media (max-width: 600px) {
  .admins-pick {
    flex-direction: column;
    display: none;
  }
}

@media (max-width: 1366px) {
  .landing-page {
    flex-direction: column;
  }

  .landing-slide-big {
    max-width: none !important;
  }

  .left-landing {
    max-width: none;
  }

  .post-section {
    width: 100%;
    max-height: 600px;
  }
}

.admins-pick {
  display: flex;
  gap: 20px;
}
