.small-slides-variant-2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(31%, 1fr));
  gap: 30px;
}

@media (max-width: 600px) {
  .small-slides-variant-2 {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

.products-page {
  margin-bottom: 300px;
}

@media (max-width: 546px) {
  .small-slides-variant-2 {
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    gap: 5px;
  }
  
  .landing-slide-date {
    margin-bottom: 7px !important;
    font-size: 17px !important;
  }

  .landing-slide-title {
    margin-bottom: 10px !important;
    font-size: 20px !important;
  }
}


@media (max-width: 401px) {
  .small-slides-variant-2 {
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 1px;
  }

  .landing-slide-date {
    font-size: 15px !important;
  }

  .landing-slide-title {
    margin-bottom: 7px !important;
    font-size: 18px !important;
  }
}